<section id="intro">
    <div id="intro-slider" class="flexslider">
        <ul class="slides" >
            <li>
                <div class="row">
                    <div class="twelve columns">
                        <div class="slider-image">
                            <img src="images/sliders/01.jpg" alt=""  style="height: 326px;"/>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="twelve columns">
                        <div class="slider-image">
                            <img src="images/sliders/02.jpg" alt=""  style="height: 326px;"/>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="twelve columns">
                        <div class="slider-image">
                            <img src="images/sliders/03.jpg" alt=""  style="height: 326px;"/>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="works">
    <div class="row">
        <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">
            <div class="columns portfolio-item">
                <div class="item-wrap">
                    <a href="#">
                        <img alt="" src="images/portfolio/geometrics.jpg">

                        <div class="overlay"></div>
                        <div class="link-icon"><i class="fa fa-link"></i>
                        </div>
                    </a>

                    <div class="portfolio-item-meta">
                        <h5><a href="#">Example</a></h5>

                        <p>Example</p>
                    </div>
                </div>
            </div>

            <div class="columns portfolio-item">
                <div class="item-wrap">
                    <a href="#">
                        <img alt="" src="images/portfolio/console.jpg">

                        <div class="overlay"></div>
                        <div class="link-icon"><i class="fa fa-link"></i>
                        </div>
                    </a>

                    <div class="portfolio-item-meta">
                        <h5><a href="#">Example</a></h5>

                        <p>Example</p>
                    </div>
                </div>
            </div>

            <div class="columns portfolio-item s-first">
                <div class="item-wrap">
                    <a href="#">
                        <img alt="" src="images/portfolio/camera-man.jpg">

                        <div class="overlay"></div>
                        <div class="link-icon"><i class="fa fa-link"></i>
                        </div>
                    </a>

                    <div class="portfolio-item-meta">
                        <h5><a href="#">Example</a></h5>

                        <p>Example</p>
                    </div>
                </div>
            </div>

            <div class="columns portfolio-item">
                <div class="item-wrap">
                    <a href="#">
                        <img alt="" src="images/portfolio/into-the-light.jpg">

                        <div class="overlay"></div>
                        <div class="link-icon"><i class="fa fa-link"></i>
                        </div>
                    </a>

                    <div class="portfolio-item-meta">
                        <h5><a href="#">Example</a></h5>

                        <p>Example</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="info">
    <div class="row">
        <div class="bgrid-quarters s-bgrid-halves">
            <div class="columns">
                <h2><a href="#/products">产品</a></h2>
                <ul class="disc">
                    <li ng-repeat="product in data.products"  class="hide_text"><a href="#/detail/products/{{product.id}}" >{{product.title}}</a></li>
                </ul>
            </div>

            <div class="columns">
                <h2><a href="#/list/trends">业界动态</a></h2>
                <ul class="disc">
                    <li  ng-repeat="article in data.trends"  class="hide_text"><a href="#/detail/articles/{{article.id}}">{{article.title}}</a></li>
                </ul>
            </div>

            <div class="columns s-first">
                <h2><a href="#/list/technologies">技术天地</a></h2>
                <ul class="disc">
                    <li  ng-repeat="article in data.technologies"  class="hide_text"><a href="#/detail/articles/{{article.id}}">{{article.title}}</a></li>
                </ul>
            </div>

            <div class="columns">
                <h2><a href="#/list/cases">案例业绩</a></h2>
                <ul class="disc">
                    <li  ng-repeat="article in data.cases" class="hide_text"><a href="#/detail/articles/{{article.id}}" >{{article.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
