<div class="content-outer">
    <div id="page-content" class="row">
        <div id="primary" class="eight columns">
            <article class="post" ng-repeat="article in pageData.list">
                <div class="entry-header cf">
                    <h2><a href="#/detail/{{pageData.url}}/{{article.id}}">{{article.title}}</a></h2>
                </div>

                <div class="post-content summary" id="summary-{{article.id}}">
                </div>
            </article>
            <nav class="col full pagination">
                <ul>
                    <li><a href="#"  class="page-numbers prev inactive">上一页</a></li>
                    <li ng-repeat="page in pageData.pageList"><a href="#"  name="{{page.currentNo}}" class="page-numbers">{{page.currentNo}}</a></li>
                    <li><a href="#" class="page-numbers next">下一页</a></li>
                </ul>
            </nav>

        </div>

        <div id="secondary" class="four columns end">
            <aside id="sidebar">
                <div class="widget widget_contact">
                    <h5>联系方式</h5>

                    <p class="address">
                        北京市海淀区蓝靛厂东路2号<br>
                        金源时代购物中心B区写字楼1509<br>
                        <span>电话：010-88895560/61/62</span><br>
                        <span>传真：010-88895563</span><br>
                        <span>邮箱：hr@winsion.net</span>
                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>
