<div class="content-outer">
    <div id="page-content" class="row portfolio">
        <section class="entry cf" ng-repeat="type in pageData">
            <div id="primary" class="twelve columns portfolio-list">
                <h1 style="padding-left:20px;">{{type.name}}</h1>

                <div id="portfolio-wrapper" class="bgrid-thirds cf">
                    <div name="{{$index}}" class="columns portfolio-item" ng-repeat="product in type.list">
                        <div class="item-wrap">
                            <a href="#detail/products/{{product.id}}">
                                <img alt="" src="../img/{{product.imgUri | imgFilter}}">

                                <div class="overlay"></div>
                                <div class="link-icon"><i class="fa fa-link"></i>
                                </div>
                            </a>

                            <div class="portfolio-item-meta">
                                <h5><a href="#detail/products/{{product.id}}">{{product.title}}</a></h5>

                                <p>{{product.summary}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
