<html lang="zh-cn" ng-app>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>

        TEST

    </title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional Bootstrap Theme -->
    <link href="./css/bootstrap-theme.min.css" data-href="./css/bootstrap-theme.min.css" rel="stylesheet"
          id="bs-theme-stylesheet">

    <link href="./css/path.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="./css/docs.min.css" rel="stylesheet">

    <link href="./css/style.css" rel="stylesheet">

    <script>
        var _hmt = _hmt || [];
    </script>
</head>
<body>

<div class="container bs-docs-container">

    <div class="col-md-9" role="main" ng-controller="TestAllCrl">
        <div class="bs-docs-section" ng-repeat="service in allApi.apis">
            <h1 id="{{service.id}}" class="page-header service-header">{{service.path}}</h1>
            <ul class="operations">
                <li class="operation" ng-repeat="operation in service.operations">
                    <div class="operation-heading">
                        <h2 id="{{operation.path}}">{{operation.path}}</h2>
                    </div>
                    <div class="operation-content">
                         <ul class="cases">
                             <li class="case" ng-repeat="case in operation.cases">
                                 <div class="case-heading">
                                     <h3> {{case.description}}     </h3>
                                 </div>
                                 <div class="case-content">
                                     {{case.result}}
                                 </div>
                             </li>
                         </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3" ng-controller="AllApiCtrl">
        <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
            <ul class="nav bs-docs-sidenav" ng-repeat="service in allApi.apis">
                <li>
                    <a href="#{{service.id}}">{{service.path}}</a>
                    <ul class="nav">
                        <li ng-repeat="operation in service.operations">
                            <a href="#{{operation.path}}">{{operation.path}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a class="back-to-top" href="#top">
                返回顶部
            </a>
        </div>
    </div>
</div>
</div>
<script src="./test.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/controller.js" type="text/javascript"></script>
</body>
</html>