<h3>
    文章管理
</h3>
<div class="tabbable">
    <ul class="nav nav-tabs" id="article_tab">
        <li ng-repeat="type in articlesData">
            <a data-toggle="tab" href="#panel-{{type.type}}"> {{type.name}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="panel-{{type.type}}" ng-repeat="type in articlesData">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        标题
                    </th>
                    <th>
                        发布时间
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <br><br>
                    <a type="submit" id='add' href="#article/{{type.type}}/-1" class="btn btn-primary fill_width">添加</a>
                    <br><br>
                </tr>
                <tr ng-repeat="article in type.list">
                    <td>
                        {{article.index+1}}
                    </td>
                    <td>
                        <a href="#article/{{article.type}}/{{article.id}}">{{article.title}}</a>
                    </td>
                    <td>
                        {{article.pubDate | dateFilter}}
                    </td>
                    <td>
                        {{article.status}}
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li id="page-{{page.currentNo}}" ng-repeat="page in type.pageList"><a
                        name="{{page.currentNo}}" type="{{type.id}}"
                        href="#page/articles/{{type.id}}/{{page.currentNo}}">{{page.currentNo}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
