<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Duration</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        d3.select("body")
                .style("bgcolor", "green") // make the body green
                .transition()
                .style("bgcolor", "red"); // then transition to red
    </script>
</head>
<body>
<h1>
 Duration
</h1>

</body>
</html>